---
layout: resume

namespace: cv
permalink: /cv/
title: menu.cv

# SEO
seo:
  name: Michael Ravedoni's CV
  type: Person
  links :
    - https://www.facebook.com/michael.ravedoni
    - https://www.linkedin.com/in/michael-ravedoni
    - https://plus.google.com/+MichaelRavedoni
    - https://github.com/michaelravedoni



# Resume settings
resume_avatar:                  "true"
resume_name:                    "Michael Ravedoni"
resume_title:                   ""
resume_contact_email:           "michael@ravedoni.com"
# resume_contact_telephone:     ""
resume_contact_address:         "Sion-Lausanne-Fribourg"
# resume_contact_site:          ""
resume_header_contact_info:     "true"
resume_header_intro:            ""

# use "yes" to display the email contact button,
# "no" to display an "I'm not looking for work" message,
# or remove the resume_looking_for_work option entirely
# to leave blank
resume_looking_for_work:        "yes"

# Decide which sections to use
# comment out to hide
resume_section_experience:      true
resume_section_education:       true
resume_section_projects:        true
resume_section_skills:          true
resume_section_recognition:     true
resume_section_links:           false
resume_section_associations:    true
resume_section_languages:       true
resume_section_testimonials:    false
resume_section_interests:       true

# Resume social links
# uncomment the options you wish to display, and add your own URL
resume_social_links:
  resume_github_url:            "https://github.com/michaelravedoni"
  # resume_twitter_url:           "http://twitter.com/jglovier"
  # resume_dribbble_url:          "https://dribbble.com/jag"
  # resume_facebook_url:          "insert Facebook URL here"
  resume_linkedin_url:          "https://www.linkedin.com/in/michael-ravedoni/"
  resume_orcid_url:             "https://orcid.org/0000-0003-3018-1538"
  resume_rg_url:                "https://www.researchgate.net/profile/Michael_Ravedoni"
  # resume_instagram_url:         "insert your Instagram URL here"
  resume_website_url:           "https://michael.ravedoni.com"
resume_print_social_links:      true

# Design settings
resume_theme:                   developer
---

<!-- ******HEADER****** -->
<header class="header">
	<div class="container clearfix">
		<!-- You can turn off the avatar in _config.yml by setting to false -->
		{% if page.resume_avatar == 'true' %}
		<img itemprop="image" class="profile-image img-fluid float-left" style="max-width: 180px;" src="{{ site.site_url }}/images/profile-photo.jpg" alt="Michael Ravedoni" />
		{% endif %}
		<div class="profile-content float-left">
			<h1 class="name" itemprop="name">{{ page.resume_name }}</h1>
			<h2 class="desc" itemprop="jobTitle">{{ site.data[site.lang].intro.title }}</h2>
			{% if page.resume_print_social_links %}
			<ul class="social list-inline">
				{% if page.resume_social_links.resume_twitter_url %}
				<li class="list-inline-item"><a itemprop="sameAs" href="{{ page.resume_social_links.resume_twitter_url }}" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a></li>
				{% endif %}
				{% if page.resume_social_links.resume_googleplus_url %}
				<li class="list-inline-item"><a itemprop="sameAs" href="{{ page.resume_social_links.resume_googleplus_url }}" target="_blank" rel="noopener"><i class="fab fa-google-plus"></i></a></li>
				{% endif %}
				{% if page.resume_social_links.resume_linkedin_url %}
				<li class="list-inline-item"><a itemprop="sameAs" href="{{ page.resume_social_links.resume_linkedin_url }}" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a></li>
				{% endif %}
				{% if page.resume_social_links.resume_github_url %}
				<li class="list-inline-item"><a itemprop="sameAs" href="{{ page.resume_social_links.resume_github_url }}" target="_blank" rel="noopener"><i class="fab fa-github-alt"></i></a></li>
				{% endif %}
				{% if page.resume_social_links.resume_rg_url %}
				<li class="list-inline-item"><a itemprop="sameAs" href="{{ page.resume_social_links.resume_rg_url }}" target="_blank" rel="noopener"><i class="fab fa-researchgate"></i></a></li>
				{% endif %}
				{% if page.resume_social_links.resume_orcid_url %}
				<li class="list-inline-item"><a itemprop="sameAs" href="{{ page.resume_social_links.resume_orcid_url }}" target="_blank" rel="noopener"><i class="fas fa-info-circle"></i></a></li>
				{% endif %}
				{% if page.resume_social_links.resume_hacker_url %}
				<li class="list-inline-item" itemprop="sameAs" class="last-item"><a href="#"><i class="fab fa-hacker-news" target="_blank" rel="noopener"></i></a></li>
				{% endif %}
			</ul>
			{% endif %}
		</div><!--//profile-->
		{% if page.resume_looking_for_work == 'yes' %}
		<a class="btn btn-cta-secondary float-right" href="mailto:{{ page.resume_contact_email | encode_email }}" target="_blank" rel="noopener"><i class="fas fa-paper-plane"></i> {% t cv.header.contact_me %}</a>
		{% elsif page.resume_looking_for_work == 'no' %}
		<a class="btn btn-cta-primary float-right">{% t cv.header.looking_work_now %}</a>
		{% else %}
		{% endif %}
	</div><!--//container-->
</header><!--//header-->

<div class="text-center uk-margin-top">
	<a href="{{site.site_url}}/cv/" class="uk-button uk-button-small uk-button-secondary">Français</a>
	<a href="{{site.site_url}}/de/cv/" class="uk-button uk-button-small uk-button-secondary">Deutsch</a>
	<a href="{{site.site_url}}/it/cv/" class="uk-button uk-button-small uk-button-secondary">Italiano</a>
	<a href="{{site.site_url}}/en/cv/" class="uk-button uk-button-small uk-button-secondary">English</a>
</div>

<div class="container sections-wrapper">
	<div class="row">
		<div class="primary col-md-8 col-sm-12 col-xs-12">
			<section class="about section">
				<div class="section-inner">
					<h2 class="heading">{% t cv.headings.about %}</h2>
					<div class="content" itemprop="description">
						{{ site.data[site.lang].intro.text }}
					</div><!--//content-->
				</div><!--//section-inner-->
			</section><!--//section-->

			{% if page.resume_section_experience %}
			<!-- begin Experience -->
			<section class="experience education section">
				<div class="section-inner">
					<h2 class="heading">{% t cv.headings.experience %}</h2>
					<div class="content">
						{% for job in site.data[site.lang].experience %}
						<div class="item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
							<h3 itemprop="name"><i class="fas fa-{{job.icon}}"></i> {{ job.company }}</h3>
							<div class="title"><span class="h4">{{ job.position }}</span> — <span class="year">{{ job.duration }}</span></div>
							<div itemprop="description">{{ job.summary }}</div>
						</div><!--//item-->
						{% endfor %}

					</div><!--//content-->
				</div><!--//section-inner-->
			</section><!--//section-->
			<!-- end Experience -->
			{% endif %}

			{% if page.resume_section_education %}
			<!-- begin Education -->
			<section class="experience education section">
				<div class="section-inner">
					<h2 class="heading">{% t cv.headings.formation %}</h2>
					<div class="content">
						{% for education in site.data[site.lang].education %}
						<div class="item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
							<h3 itemprop="name"><i class="fas fa-graduation-cap"></i> {{ education.uni }}</h3>
							<div class="title university"><span class="h4">{{ education.degree }}</span> — <span class="year">{{ education.year }} {{ education.award }}</span></div>
							<div itemprop="description">{{ education.summary }}</div>
						</div><!--//item-->
						{% endfor %}

					</div><!--//content-->
				</div><!--//section-inner-->
			</section><!--//section-->

			<!-- end Education -->
			{% endif %}

			{% if page.resume_section_projects %}
			<!-- begin Projects -->
			<section class="latest experience section">
				<div class="section-inner">
					<h2 class="heading">{% t cv.headings.projects %}</h2>
					<div class="content">
						{% if site.data[site.lang].projectsLead.display %}
						{% assign projectLead = site.data[site.lang].projectsLead %}
						<div class="item featured text-center" itemscope itemtype="http://schema.org/CreativeWork">
							<meta itemprop="creator" content="{{ page.resume_name }}" itemtype="http://schema.org/Person" />
							<h3 class="title" itemprop="name">{% if projectLead.url %}<a href="{{ project.url }}" target="_blank" rel="noopener" itemprop="url">{{projectLead.title}}</a>{% else %}{{ project.project }}{% endif %}</h3>
							<p class="summary" itemprop="description">{{projectLead.lead}}</p>
							<div class="featured-image">
								<a href="{{projectLead.url}}" target="_blank" rel="noopener">
									<img class="img-responsive project-image" src="{{ site.site_url }}/images/{{projectLead.image}}" alt="{{projectLead.title}}" />
								</a>
								<div class="ribbon">
									<div class="text">{{projectLead.ribon}}</div>
								</div>
							</div>
							<div class="desc text-left uk-container">{{projectLead.description}}</div><!--//desc-->
							<a class="btn btn-cta-secondary" href="{{ projectLead.url }}" target="_blank" rel="noopener"><i class="fas fa-external-link-alt"></i> {% t cv.text.to_project %}</a>
						</div><!--//item-->
						<hr class="divider" />
						{% endif %}

						{% for project in site.data[site.lang].projects %}
						<div class="item row" itemscope itemtype="http://schema.org/CreativeWork">
							<meta itemprop="creator" content="{{ page.resume_name }}" itemtype="http://schema.org/Person" />
							<a class="col-md-4 col-sm-4 col-xs-12" href="{{ project.url }}" target="_blank" rel="noopener">
								<img class="img-responsive project-image" src="{{ site.site_url }}/images/{{project.image}}" alt="{{ project.project }}" />
							</a>
							<div class="desc col-md-8 col-sm-8 col-xs-12">
								<h3 class="title" itemprop="name">{% if project.url %}<a href="{{ project.url }}" target="_blank" rel="noopener" itemprop="url">{{ project.project }}</a>{% else %}{{ project.project }}{% endif %} <span class="year float-right">{% if project.duration %}{{ project.duration }}{% endif %}</span></h3>
								<p itemprop="description">
									<span class="badge badge-theme">{% if project.role %}{{ project.role }}{% endif %}</span> &bull; {{ project.description }}
								</p>
								<p><a class="more-link" href="{{ project.url }}" target="_blank" rel="noopener"><i class="fas fa-external-link-alt"></i> {% t cv.text.to_project %}</a></p>
							</div><!--//desc-->
						</div><!--//item-->
						{% endfor %}

					</div><!--//content-->
				</div><!--//section-inner-->
			</section><!--//section-->
			{% endif %}

			{% if page.resume_section_associations %}
			<!-- begin Associations -->
			<section class="projects experience section">
				<div class="section-inner">
					<h2 class="heading">{% t cv.headings.associations %}</h2>
					<div class="content">
						{% for association in site.data[site.lang].associations %}
						<div class="item" itemscope itemprop="memberOf" itemtype="http://schema.org/Organization">
							<h3 class="title" itemprop="name">{% if association.url %}<a href="{{ association.url }}">{{ association.organization }}</a>{% else %}{{ association.organization }}{% endif %} <span class="year float-right">{{ association.year }}</span></h3>
							<p class="summary" temprop="description"><span class="badge badge-theme">{% if association.role %}{{ association.role }}{% endif %}</span> {{ association.summary }}</p>
							<p><a class="more-link" href="{{ association.url }}" target="_blank" rel="noopener"><i class="fas fa-external-link-alt"></i> {% t cv.text.more %}</a></p>
						</div><!--//item-->
						{% endfor %}
					</div><!--//content-->
				</div><!--//section-inner-->
			</section><!--//section-->
			<!-- end Associations -->
			{% endif %}



		</div><!--//primary-->

		<div class="secondary col-md-4 col-sm-12 col-xs-12">
			<aside class="info aside section">
				<div class="section-inner">
					<h2 class="heading sr-only">{% t cv.headings.basic_information %}</h2>
					<div class="content">
						<ul class="list-unstyled">
							{% if page.resume_contact_address %}
							<li><i class="fas fa-map-marker-alt"></i><span class="sr-only">Location:</span>{{page.resume_contact_address}}</li>
							{% endif %}
							{% if resume_header_contact_info %}
							<li><i class="fas fa-envelope-o"></i><span class="sr-only">Email:</span><a href="mailto:{{ resume_contact_email | encode_email }}">{{resume_contact_email }}</a></li>
							{% endif %}
							{% if page.resume_contact_site %}
							<li><i class="fas fa-link"></i><span class="sr-only">Website:</span><a href="{{page.resume_contact_site}}">{{page.resume_contact_site}}</a></li>
							{% endif %}
						</ul>
					</div><!--//content-->
				</div><!--//section-inner-->
			</aside><!--//aside-->

			{% if page.resume_section_skills %}
			<!-- begin Skills -->
			<aside class="skills aside section">
				<div class="section-inner">
					<h2 class="heading">{% t cv.headings.skills %}</h2>
					<div class="content">
						<p class="intro"></p>

						<div class="skillset">

							{% for skill in site.data[site.lang].skills %}
							<div class="item">
								<h3 class="level-title">{{ skill.skill }}<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to add more info...">{{ skill.description }}</span></h3>
								<div class="level-bar">
									<div class="level-bar-inner" data-level="{{ skill.level }}%">
									</div>
								</div><!--//level-bar-->
							</div><!--//item-->
							{% endfor %}

							<p><a class="more-link" href="{{ page.resume_social_links.resume_linkedin_url }}"><i class="fas fa-external-link-alt"></i> {% t cv.text.more_linkedin %}</a></p>
						</div>
					</div><!--//content-->
				</div><!--//section-inner-->
			</aside><!--//section-->
			<!-- end Skills -->
			{% endif %}

			{% if page.resume_section_testimonials %}
			<!-- begin Testimonials -->
			<aside class="testimonials aside section">
				<div class="section-inner">
					<h2 class="heading">{% t cv.headings.testimonials %}</h2>
					<div class="content">
						<div class="item">
							<blockquote class="quote">
								<p><i class="fas fa-quote-left"></i>James is an excellent software engineer and he is passionate about what he does. You can totally count on him to deliver your projects!</p>
							</blockquote>
							<p class="source"><span class="name">Tim Adams</span><br /><span class="title">Curabitur commodo</span></p>
						</div><!--//item-->

						<p><a class="more-link" href="{{ page.resume_social_links.resume_linkedin_url }}"><i class="fas fa-external-link-alt"></i> Plus sur LinkedIn</a></p>

					</div><!--//content-->
				</div><!--//section-inner-->
			</aside><!--//section-->
			<!-- end Testimonials -->
			{% endif %}

			{% if page.resume_section_recognition %}
			<!-- begin Recognitions -->
			<aside class="education aside section">
				<div class="section-inner">
					<h2 class="heading">{% t cv.headings.recognitions %}</h2>
					<div class="content">
						{% for recognition in site.data[site.lang].recognitions %}
						<div class="item">
							<h3 class="title" itemprop="award"><i class="fas fa-{{recognition.icon}}"></i> {{ recognition.award }}</h3>
							<h4 class="university">{{ recognition.organization }} <span class="year">({{ recognition.year }})</span></h4>
						</div><!--//item-->
						{% endfor %}
					</div><!--//content-->
				</div><!--//section-inner-->
			</aside><!--//section-->
			<!-- end Recognitions -->
			{% endif %}

			{% if page.resume_section_languages %}
			<!-- begin Languages -->
			<aside class="languages aside section">
				<div class="section-inner">
					<h2 class="heading">{% t cv.headings.languages %}</h2>
					<div class="content">
						<ul class="list-unstyled">
							{% for language in site.data[site.lang].languages %}
							<li class="item">
								<span class="title"><strong>{{language.language}} :</strong></span>
								<span class="level">{{language.level}} <br class="visible-xs"/>{{language.stars}}</span>
							</li><!--//item-->
							{% endfor %}
						</ul>
					</div><!--//content-->
				</div><!--//section-inner-->
			</aside><!--//section-->
			<!-- end Languages -->
			{% endif %}

			{% if page.resume_section_links %}
			<!-- begin Links -->
			<aside class="list conferences aside section">
				<div class="section-inner">
					<h2 class="heading">{% t cv.headings.links %}</h2>
					<div class="content">
						<ul class="list-unstyled">
							{% for link in site.data[site.lang].links %}
							<li><i class="fas fa-calendar"></i> <a href="{{link.url}}" target="_blank" rel="noopener">{{link.title}}</a> ({{link.description}})</li>
							{% endfor %}
						</ul>
					</div><!--//content-->
				</div><!--//section-inner-->
			</aside><!--//section-->
			<!-- end Links -->
			{% endif %}

		</div><!--//secondary-->
	</div><!--//row-->
</div><!--//masonry-->
