<footer class="uk-section-xsmall uk-section-default">
	<div class="uk-container uk-container-expand uk-text-center uk-position-relative">
		<ul class="uk-subnav tm-subnav uk-flex-inline uk-flex-center uk-margin-remove-bottom">
			<li><span class="uk-text-small"><a rel="license" href="{% tl about %}#michael-ravedoni-license"><i class="fab fa-creative-commons"></i><i class="fab fa-creative-commons-by"></i></a></span></li>
			<li><a href="mailto:{{ site.contact_email }}" class="uk-text-lowercase uk-text-muted"><span uk-icon="icon: mail" class="uk-margin-small-right uk-icon"></span>{{ site.contact_email }}</a></li>
		</ul>
	</div>
</footer>