<head>
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

	<!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">
	
	<link rel="meta" type="application/rdf+xml" title="FOAF" href="foaf.rdf" />
	
	<link rel="icon" type="image/x-icon" href="/favicon/favicon.ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
	<link rel="manifest" href="/favicon/manifest.json">
	<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="/favicon/favicon.ico">
	<meta name="msapplication-config" content="/favicon/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic|Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/xriley/Developer-Theme/master/assets/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/xriley/Developer-Theme/master/assets/plugins/font-awesome/css/font-awesome.css">
	
	<!-- Theme CSS --> 
	<link id="theme-style" rel="stylesheet" href="{{ site.site_url }}/css/uikit.css">
	
    <!-- UIkit CSS 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.38/css/uikit.min.css" />-->

	<!-- UIkit JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.38/js/uikit.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.38/js/uikit-icons.min.js"></script>

	<!-- Javascript -->      
    <script type="text/javascript" src="https://rawgit.com/xriley/Developer-Theme/master/assets/plugins/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/xriley/Developer-Theme/master/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- custom js -->
    <script type="text/javascript" src="{{ site.site_url }}/js/main.js"></script>
	
	<!-- Dokie.ly --> 
    <link href="https://dokie.li/media/css/basic.css" media="all" rel="stylesheet alternate" title="Basic" />
    <link href="https://dokie.li/media/css/lncs.css" media="all" rel="stylesheet alternate" title="LNCS" />
    <link href="https://dokie.li/media/css/acm.css" media="all" rel="stylesheet alternate" title="ACM" />
    <link href="https://www.w3.org/StyleSheets/TR/2016/W3C-ED" rel="stylesheet alternate" media="all" title="W3C-ED"/>
    <link href="https://www.w3.org/DesignIssues/di.css" rel="stylesheet alternate" media="all" title="DesignIssues"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="all" rel="stylesheet" />
    <link href="https://dokie.li/media/css/do.css" media="all" rel="stylesheet" />

    <script src="https://dokie.li/scripts/simplerdf.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://dokie.li/scripts/medium-editor.min.js"></script>
    <script src="https://dokie.li/scripts/medium-editor-tables.min.js"></script>
    <script src="https://dokie.li/scripts/do.js"></script>
</head>