<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-center">

        <div class="uk-navbar-center-left"><div>
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="#">Active</a></li>
            </ul>
        </div></div>
        <a class="uk-navbar-item uk-logo" href="#">Númendil</a>
		<a class="uk-navbar-item uk-logo" href="#">ConfederAl</a>
		<a class="uk-navbar-item uk-logo" href="#">Logo</a>
        <div class="uk-navbar-center-right"><div>
            <ul class="uk-navbar-nav">
                <li><a href="#">Item</a></li>
            </ul>
        </div></div>

    </div>
</nav>