<!DOCTYPE html>
<!--[if IE 8]> <html lang="{{site.lang}}" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="{{site.lang}}" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="{{site.lang}}"> <!--<![endif]-->  

{% include head-resume.html %}

<body class="theme-{% if page.resume_theme %}{{ page.resume_theme }}{% endif %}" itemscope itemtype="http://schema.org/Person">
	<meta itemprop="telephone" content="{{ page.resume_contact_telephone }}"/>
	<meta itemprop="address" content="{{ page.resume_contact_address }}"/>
	<meta itemprop="url" content="{{site.site_url}}"/>
	
	<div class="uk-offcanvas-content">
	  
		{% include header-menu.html %}
	
		{{ content }}
		
		<footer class="footer">
			<div class="container">
				<p class="footer-line">Made by <a class="dotted-link" href="http://twitter.com/jglovier">@jglovier</a>. Fork me on <a class="dotted-link" href="https://github.com/jglovier/resume-template">GitHub</a>. This responsive portfolio template is handcrafted by UX designer <a href="https://www.linkedin.com/in/xiaoying" target="_blank" rel="noopener">Xiaoying Riley</a> at <a href="http://themes.3rdwavemedia.com/" target="_blank" rel="noopener">3rd Wave Media</a> for developers and is <strong>FREE</strong> under the <a class="dotted-link" href="http://creativecommons.org/licenses/by/3.0/" target="_blank" rel="noopener">Creative Commons Attribution 3.0 License</a></p>
			</div>
		</footer>
		{% include footer.html %}

	</div>
</body>
</html>